In [122]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.11.17)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: exceptiongroup in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [215]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [278]:
driver = webdriver.Chrome()

In [279]:
#Open the shine page on automated chrome brower
driver.get(" https://www.shine.com/")

In [266]:
# entering designation and location
job_title = driver.find_element(By.XPATH,"html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
job_title.send_keys('Data Analyst')

In [267]:
location = driver.find_element(By.XPATH ,"html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [253]:
Search_jobs = driver.find_element(By.XPATH,"html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
Search_jobs.click()

In [269]:
job_title =[]
job_location =[]
company_name =[]
experience_required =[]

In [270]:
# scraping job title from given page

title_tags = driver.find_elements(By.XPATH,'//a[@href="/jobs/lead-data-analyst-permanent/ara-resources-private-limited/14099210"]')
for i in title_tags:
    title = i.text
    job_title.append(title)
    
# scraping job location from given page
location_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)
    
# scaping company name from given page 
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company =i.text
    company_name.append(company)
    
    
# scaping job experience from given page 
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp = i.text
    experience_required.append(exp)

In [139]:
print (len(job_title),len(job_location),len(company_name),len(experience_required))

80 40 40 20

In [277]:
import pandas as pd 
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Management,Bangalore\n+18,future solution centre,15 to >25 Yrs
5,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
9,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
10,Full time Opportunity-Networking Advisor-Cisco...,Bangalore\n+5,ntt data information processing ser...,10 to 20 Yrs
11,Data Engineer Ii,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
12,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs
13,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs
14,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...,5 to 8 Yrs
15,Hiring for Business Analyst,Bangalore\n+15,renuka interprises,0 to 4 Yrs
16,Hiring for Business Analyst,Bangalore\n+15,renuka interprises,0 to 4 Yrs
17,Data Modeler,Bangalore\n+6,ltimindtree limited,5 to 10 Yrs
18,Data Engineer-OBIEE,Bangalore\n+1,ltimindtree limited,5 to 10 Yrs
19,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr

In [280]:
# scraping title location
job_title = driver.find_element(By.XPATH,"html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
job_title.send_keys('Data Scientist')

In [281]:
job_location = driver.find_element(By.XPATH,"html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
job_location.send_keys('Bangalore')

In [282]:
Search_jobs = driver.find_element(By.XPATH,"html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
Search_jobs.click()

In [275]:
job_title =[]
job_location =[]
company_name =[]
experience_required =[]

In [276]:
# scraping job title from given page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title = i.text
    job_title.append(title)
    
# scraping job location from given page
location_tags = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location.append(location)
    
# scaping company name from given page 
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company =i.text
    company_name.append(company)
    
    
# scaping job experience from given page 
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp = i.text
    experience_required.append(exp)

In [246]:
print (len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [247]:
import pandas as pd

df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...,5 to 8 Yrs
1,Data Scientist Urgent Vacancy,Bangalore\n+15,renuka interprises,0 to 4 Yrs
2,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
3,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
4,Data Scientist,Bangalore\n+4,acme services private limited,3 to 5 Yrs
5,Data Scientist,Bangalore,ltimindtree limited,6 to 8 Yrs
6,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal,5 to 9 Yrs
7,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
8,Senior Data Scientist,Bangalore\n+1,neostats,7 to 11 Yrs
9,Lead Data Scientist,Bangalore\n+1,aereo,7 to 10 Yrs
10,Data Scientist,Bangalore\n+7,people staffing solutions,4 to 9 Yrs
11,Data Scientist Urgent Vacancy,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
12,Data Scientist,Bangalore\n+2,diraa hr services,0 to 4 Yrs
13,Pharma Data Scientist,Bangalore\n+4,quiscon biotech,0 to 1 Yr
14,Hiring For Data Scientist,Bangalore\n+13,yogita staffing solution,0 to 3 Yrs
15,Hiring For Data Scientist,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
16,Data Scientist Urgent Vacancy,Bangalore\n+13,kavya interprises,0 to 4 Yrs
17,Data Scientist Recruitment,Bangalore\n+13,kavya interprises,0 to 4 Yrs
18,Data Scientist,Bangalore,varite india private limited,1 to 2 Yrs
19,Full time Opportunity-Networking Advisor-Cisco...,Bangalore\n+5,ntt data information processing ser...,10 to 20 Yrs